## Quiz Questions

#### 1. How do you define a list in Python?

In [3]:
list_definition = [1, 2, 3, 4, 5,]

#### 2. How do you access the third element of a Python list named my_list?

In [4]:
my_list = list_definition

In [5]:
my_list[2]

3

#### 3. How can you add the element "new_item" to the end of an existing list named my_list?

In [7]:
my_list.append("new_item")
my_list

[1, 2, 3, 4, 5, 'new_item', 'new_item']

#### 4. How do you create a Python tuple with the items "apple", "banana", and "cherry"?

In [9]:
tuple_example = ('apple', 'banana', 'cherry')
tuple_example

('apple', 'banana', 'cherry')

#### 5. How do you access the first element of a Python tuple named my_tuple?

In [11]:
my_tuple = tuple_example
my_tuple[0]

'apple'

#### 6. How do you define a dictionary in Python with keys "name", "age" and values "John Doe", 30?

In [13]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

#### 7. How can you retrieve the value for the key "name" from the dictionary my_dict?

In [14]:
my_dict['name']

'John'

#### 8. How can you change the value associated with the key "age" in the dictionary my_dict to 35?

In [18]:
my_dict['age']
new_dict = my_dict
new_dict['age'] = 26
new_dict

{'name': 'John', 'age': 26, 'city': 'New York'}

#### 9. How can you add a new key-value pair "city":"New York" to the dictionary my_dict?

In [21]:
new_dict['city'] = 'New York'
new_dict

{'name': 'John', 'age': 26, 'city': 'New York'}

#### 10. *How do you create a set in Python with the items "apple", "banana", and "cherry"?

In [22]:
my_set = {"apple", "banana", "cherry"}

#### 11. How do you add the item "orange" to an existing set my_set?

In [ ]:
my_set.add("orange")

#### 12. How do you remove the item "banana" from the set my_set?

In [ ]:
my_set.remove("banana")

#### 13. What is the length of a list my_list with elements [1, 2, 3, 4, 5]?

In [ ]:
length_of_my_list = len(my_list)
length_of_my_list

#### 14. What will be the result of my_list * 2 if my_list is [1, 2, 3]?

In [24]:
my_list = [1,2,3]
my_list * 2

[1, 2, 3, 1, 2, 3]

#### 15. What is the result of set([1,2,2,3,4,4,4,5,5])?

In [25]:
set([1,2,2,3,4,4,4,5,5])

{1, 2, 3, 4, 5}