### Lecture 8 : Working with Data

In [2]:
import pandas as pd

In [3]:
#import the file 
df = pd.read_csv('https://raw.githubusercontent.com/juanklopper/TutorialData/main/Cervical.csv')

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/juanklopper/TutorialData/main/data.csv')

In [5]:
#print the first 20 methods and attributes of df using the dir function
dir(df[:20])

['Age',
 'CholesterolAfter',
 'CholesterolBefore',
 'DOB',
 'Delta',
 'Group',
 'HR',
 'Name',
 'Smoke',
 'Survey',
 'T',
 'TAG',
 'Vocation',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values_for_csv',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_sliced_from_mgr',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sBP',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [8]:
#use the head method to print the first five rows of the data fram
df.head()
df.tail()

,Name,DOB,Age,Vocation,Smoke,HR,sBP,CholesterolBefore,TAG,Survey,CholesterolAfter,Delta,Group
195,John Curtis,1936-11-25,66,"Sales professional, IT",1,96,201,10.1,5.1,5,10.0,0.1,Control
196,Jessica Tanner,1986-07-01,54,Paramedic,1,93,183,10.1,5.3,5,10.0,0.1,Control
197,Charles Smith,1959-01-30,61,Chartered certified accountant,0,99,212,10.1,5.6,4,9.7,0.4,Control
198,Barry Porter,1979-05-30,65,Dancer,1,98,200,10.1,5.3,3,10.0,0.1,Control
199,Julie Barrett,1972-07-27,66,Theme park manager,1,102,208,11.1,5.7,2,10.7,0.4,Active

In [9]:
#print the shape of df returns a tuple
df.shape

(200, 13)

In [10]:
#print the columns of df
df.columns

Index(['Name', 'DOB', 'Age', 'Vocation', 'Smoke', 'HR', 'sBP',
       'CholesterolBefore', 'TAG', 'Survey', 'CholesterolAfter', 'Delta',
       'Group'],
      dtype='object')

In [11]:
#print the number of dimensions of df
df.ndim

2

In [12]:
#print the type of df
df.dtypes

Name                  object
DOB                   object
Age                    int64
Vocation              object
Smoke                  int64
HR                     int64
sBP                    int64
CholesterolBefore    float64
TAG                  float64
Survey                 int64
CholesterolAfter     float64
Delta                float64
Group                 object
dtype: object

read up on pandas date and time objects

### Selecting Rows and Columns

In [13]:
#Assign the age column in df to the variable age_column
age_column = df['Age']

In [14]:
type(age_column)

pandas.core.series.Series

In [16]:
#Assign the age column in df to the variable age
age_column = df.Age

In [17]:
age_column.head()

0    43
1    53
2    33
3    43
4    46
Name: Age, dtype: int64

In [18]:
import numpy as np

In [19]:
age = age_column.to_numpy()

In [20]:
type(age)

numpy.ndarray

In [21]:
age

array([43, 53, 33, 43, 46, 48, 54, 58, 44, 31, 45, 35, 49, 56, 57, 38, 35,
       50, 45, 49, 63, 45, 51, 43, 31, 58, 40, 47, 45, 41, 47, 38, 54, 30,
       46, 64, 41, 40, 45, 65, 74, 55, 58, 53, 68, 54, 72, 32, 38, 59, 53,
       69, 42, 67, 38, 51, 37, 36, 34, 38, 31, 48, 49, 62, 39, 74, 41, 42,
       60, 67, 42, 74, 52, 37, 61, 54, 72, 36, 49, 47, 49, 49, 69, 43, 38,
       60, 45, 71, 65, 73, 60, 70, 45, 49, 65, 53, 30, 58, 50, 69, 72, 61,
       33, 30, 44, 71, 49, 75, 43, 35, 55, 38, 36, 46, 60, 40, 57, 69, 56,
       66, 60, 42, 49, 68, 32, 31, 56, 35, 63, 54, 68, 72, 40, 41, 66, 73,
       36, 54, 57, 74, 48, 72, 54, 71, 42, 54, 66, 58, 60, 63, 44, 55, 73,
       55, 40, 43, 71, 54, 61, 55, 67, 55, 68, 71, 54, 42, 53, 69, 57, 45,
       62, 33, 74, 74, 64, 43, 35, 57, 64, 55, 74, 50, 40, 62, 65, 63, 68,
       45, 41, 54, 62, 65, 72, 61, 70, 66, 54, 61, 65, 66])

In [22]:
#calculate the mean
age_column.mean()

53.07

In [23]:
age_column.min()

30

In [25]:
age_column.max()

75

In [27]:
age_column.describe()

count    200.000000
mean      53.070000
std       12.553207
min       30.000000
25%       43.000000
50%       54.000000
75%       64.000000
max       75.000000
Name: Age, dtype: float64

In [28]:
#display the first row of data in df using the oloc method-integer location
df.iloc[0]

Name                   Dylan Patton
DOB                      1981-10-07
Age                              43
Vocation             Energy manager
Smoke                             0
HR                               47
sBP                             145
CholesterolBefore               1.2
TAG                             1.2
Survey                            1
CholesterolAfter                0.7
Delta                           0.5
Group                        Active
Name: 0, dtype: object

In [31]:
#Select rows 2,5, and 7 iwith iloc
df.iloc[[1,4,6]]

,Name,DOB,Age,Vocation,Smoke,HR,sBP,CholesterolBefore,TAG,Survey,CholesterolAfter,Delta,Group
1,Sandra Howard,1993-01-27,53,Tax adviser,0,51,115,1.2,0.6,3,1.0,0.2,Active
4,Robert Wilson,1964-06-23,46,Clinical embryologist,0,61,138,2.8,2.1,5,2.8,0.0,Active
6,Frank Zimmerman,1981-03-04,54,Police officer,0,60,129,2.9,2.4,1,2.6,0.3,Active

In [32]:
#select the first two rows
df.iloc[0:2]

,Name,DOB,Age,Vocation,Smoke,HR,sBP,CholesterolBefore,TAG,Survey,CholesterolAfter,Delta,Group
0,Dylan Patton,1981-10-07,43,Energy manager,0,47,145,1.2,1.2,1,0.7,0.5,Active
1,Sandra Howard,1993-01-27,53,Tax adviser,0,51,115,1.2,0.6,3,1.0,0.2,Active

In [33]:
#extract the first five rows for the first and third coluns using iloc
df.iloc[:5, [0,2]]

                Name  Age
0       Dylan Patton   43
1      Sandra Howard   53
2  Samantha Williams   33
3     Ashley Hensley   43
4      Robert Wilson   46

In [34]:
df.loc[:4, ['Name', 'Age']]

                Name  Age
0       Dylan Patton   43
1      Sandra Howard   53
2  Samantha Williams   33
3     Ashley Hensley   43
4      Robert Wilson   46

### Filtering Data

In [35]:
#PRINT THE UNIQUE VALUES IN THE SMOKE COLUMN
df.Smoke.unique()

array([0, 2, 1])

In [36]:
#SELECRT THE AGES OF THOSE who do not smke and assign it to the variable age_nonsmokers
age_nonsmokers = df.loc[df.Smoke == 0]['Age'].to_numpy()
age_nonsmokers

array([43, 53, 33, 43, 46, 48, 54, 58, 44, 31, 45, 35, 49, 56, 57, 35, 50,
       49, 63, 45, 51, 40, 47, 41, 47, 38, 54, 30, 46, 64, 40, 45, 65, 55,
       53, 54, 72, 32, 38, 59, 53, 42, 38, 51, 37, 36, 48, 49, 62, 39, 74,
       42, 72, 61, 33, 30, 44, 71, 49, 75, 43, 55, 38, 36, 46, 60, 57, 69,
       56, 66, 60, 42, 32, 31, 56, 35, 63, 54, 68, 72, 40, 54, 62, 74, 62,
       41, 61, 61])

In [39]:
non_smokers_choice_3 = df.loc[(df.Smoke == 0) & (df.Survey ==3), 'Age']
non_smokers_choice_3

1      53
2      33
11     35
14     57
27     47
32     54
38     45
45     54
50     53
112    36
130    68
183    62
Name: Age, dtype: int64

In [40]:
crit = (df.Smoke == 0) | (df.Survey > 3)

In [44]:
jobs = ('IT consultant', 'Energy manager', 'Clinical embryologist')

In [45]:
crit = df.Vocation.isin(jobs)

In [46]:
df_jobs = df.loc[crit]
df_jobs

,Name,DOB,Age,Vocation,Smoke,HR,sBP,CholesterolBefore,TAG,Survey,CholesterolAfter,Delta,Group
0,Dylan Patton,1981-10-07,43,Energy manager,0,47,145,1.2,1.2,1,0.7,0.5,Active
2,Samantha Williams,1973-12-21,33,IT consultant,0,54,120,2.0,1.3,3,1.7,0.3,Active
4,Robert Wilson,1964-06-23,46,Clinical embryologist,0,61,138,2.8,2.1,5,2.8,0.0,Active
188,Joan Chavez,1999-10-07,41,Energy manager,0,93,182,9.1,5.0,2,8.8,0.3,Control

In [47]:
# Build a criterium with the str.contains method for the word manager
crit = df.Vocation.str.contains('manager', na=False)

In [48]:
# Create a new dataframe object with the criterium and assign it to the variable df_manager
df_manager = df.loc[crit]
df_manager[:5]

,Name,DOB,Age,Vocation,Smoke,HR,sBP,CholesterolBefore,TAG,Survey,CholesterolAfter,Delta,Group
0,Dylan Patton,1981-10-07,43,Energy manager,0,47,145,1.2,1.2,1,0.7,0.5,Active
34,Mr. Tyler Strickland DDS,1940-08-27,46,Tourist information centre manager,0,62,136,4.1,2.3,2,3.8,0.3,Control
54,Stephanie Jacobs,1977-06-18,38,Estate manager/land agent,0,69,139,4.4,2.7,2,4.0,0.4,Active
55,Juan Johnson,1956-12-09,51,Logistics and distribution manager,0,65,141,4.5,2.9,5,4.0,0.5,Control
71,Tina Martinez,1941-05-31,74,Passenger transport manager,1,69,146,4.8,3.1,4,4.5,0.3,Active

In [49]:
# Replace the Name column with the Patient
df.rename(columns={'Name': 'Patient'}, inplace=True)
df.columns # Call the column names

Index(['Patient', 'DOB', 'Age', 'Vocation', 'Smoke', 'HR', 'sBP',
       'CholesterolBefore', 'TAG', 'Survey', 'CholesterolAfter', 'Delta',
       'Group'],
      dtype='object')