## Homework 9 Questions

#### 1. How do you import the pandas package in Python?

In [1]:
import pandas as pd

#### 2. What function do you use to read a CSV file in pandas?

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/juanklopper/TutorialData/main/heart_failure.csv')

#### 3. How do you display the first 5 rows of a DataFrame in pandas?

In [3]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,hypertension,platelets,serum_creatinine,serum_sodium,sex,smoking,time,death
0,75.0,No,582,No,20,Yes,265000.00,1.9,130,Male,No,4,Yes
1,55.0,No,7861,No,38,No,263358.03,1.1,136,Male,No,6,Yes
2,65.0,No,146,No,20,No,162000.00,1.3,129,Male,Yes,7,Yes
3,50.0,Yes,111,No,20,No,210000.00,1.9,137,Male,No,7,Yes
4,65.0,Yes,160,Yes,20,No,327000.00,2.7,116,Female,No,8,Yes

#### 4. How do you calculate the mean of a column named Age in a DataFrame named df?

In [4]:
df.age.mean()

60.83389297658862

#### 5. How do you calculate the median of a column named age in a DataFrame named df?

In [8]:
df['age'].median()

60.0