## Lists

In [1]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [2]:
type ([1,2,3,4,5])

list

In [4]:
# create a list of five integers and five strings
[1,2,3,4,5, "one", "two", "three","four", "five" ]

[1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five']

In [5]:
#create a list of five random integers and assign it to the variable my_list
my_list = [7,4,8,2,9]

In [6]:
#retrieve the first element of the list
my_list[0]

7

In [7]:
#retrieve the last element of the list
my_list[-1]

9

In [8]:
#retrieve the first three elements of the list
my_list[0:3]

[7, 4, 8]

In [9]:
# retrieve the first three elements of th elist using syntactic sugar
my_list[:3]

[7, 4, 8]

In [10]:
#retrieve all elements from index 3
my_list[3:]

[2, 9]

In [11]:
#change the first element of the list to 'First
my_list[0] = 'First'
my_list

['First', 4, 8, 2, 9]

In [12]:
#Change the last element of the list to the list ['one', 'two']
my_list[-1] = ['one', 'two', 'three']
my_list

['First', 4, 8, 2, ['one', 'two', 'three']]

In [13]:
len(my_list)

5

In [ ]:
#retrieve the first element of the last element of the list

In [14]:
# extend the list with the elements 10,11, 12
my_list.extend([10,11,12])
my_list

['First', 4, 8, 2, ['one', 'two', 'three'], 10, 11, 12]

In [15]:
#remove the last element of the list
my_list.pop()
my_list

['First', 4, 8, 2, ['one', 'two', 'three'], 10, 11]

In [16]:
#remove the element at index 2
my_list.pop(2)
my_list

['First', 4, 2, ['one', 'two', 'three'], 10, 11]

In [17]:
my_list.append(6)
my_list

['First', 4, 2, ['one', 'two', 'three'], 10, 11, 6]

In [18]:
#insert the string 'inserted' at index 2
my_list.insert(2, 'inserted')
my_list

['First', 4, 'inserted', 2, ['one', 'two', 'three'], 10, 11, 6]

In [19]:
#Create two new lists of integers
my_list1 = [1,2,3,4,5]
my_list2 = [6,7,8,9,10]

In [20]:
my_list1 + my_list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
my_list *3

['First',
 4,
 'inserted',
 2,
 ['one', 'two', 'three'],
 10,
 11,
 6,
 'First',
 4,
 'inserted',
 2,
 ['one', 'two', 'three'],
 10,
 11,
 6,
 'First',
 4,
 'inserted',
 2,
 ['one', 'two', 'three'],
 10,
 11,
 6]

In [22]:
# Determine of the number 5 is in the list
5 in my_list1

True

In [23]:
# reverse the list
my_list1.reverse()
my_list1

[5, 4, 3, 2, 1]

In [24]:
#create a list containing ' I love python"
list('I love Python')

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

## Tuples

In [25]:
# create a tuple of five integers and assign it a variable tuple 1
tuple_1 = 2, 4, 5, 7, 'ring'
tuple_1

(2, 4, 5, 7, 'ring')

In [26]:
type(tuple_1)

tuple

In [27]:
#Create a tuple with the elements 1, 2, 'three' and the list 'Python' and assign it to the variable
tuple_2 = ( 1,2, 'three', list('Python'))
tuple_2

(1, 2, 'three', ['P', 'y', 't', 'h', 'o', 'n'])

In [28]:
languages = ('Python', 'R', 'Julia')
languages

('Python', 'R', 'Julia')

In [29]:
# Asisgn each element of the tuple to a seperate variable
one, two, three = languages

In [30]:
one

'Python'

In [31]:
names = ['Mary', 'Anne', 'Rene']
surnames = ['Johnstone' , 'Barnes' , 'Le Roux']

In [32]:
list(zip(names, surnames))
#use the zip function to create a list of tuples

[('Mary', 'Johnstone'), ('Anne', 'Barnes'), ('Rene', 'Le Roux')]

In [33]:
data_set = [('Anna', 'Rogers', 33), ('Susan', 'Roberts', 25), ('Rene', 'Du Bois', 28)]
# unzip the three element topeles
names, lastnames, ages = zip(*data_set)

In [34]:
names

('Anna', 'Susan', 'Rene')

## Dictionaries

In [35]:
#generate a dictionary
id345 = {'First Name':'Jenny', 'Last Name' : 'Gregory', 'Age':48,'Heart Rate':75}

In [36]:
id345

{'First Name': 'Jenny', 'Last Name': 'Gregory', 'Age': 48, 'Heart Rate': 75}

In [37]:
#return the kets of the dictionary
id345. keys()

dict_keys(['First Name', 'Last Name', 'Age', 'Heart Rate'])

In [38]:
#return the values of the dictionary
id345.values()

dict_values(['Jenny', 'Gregory', 48, 75])

In [ ]:
my_dict = dict([(1, 'A', (2, 'B'), (3, 'C'), (4, 'D'))])

## List Comprehension

In [39]:
# Use list comprehension to create a list of the first 10 square natural numbers
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]